<div class="container">
  <div class="articles">
    <h1>Today's articles</h1>
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade in" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <ul class="list-unstyled">
      <div class="row">
      <% @articles.each do |article| %>
        <div class="col-xs-6">
          <li><%= link_to "#{article.title}", article_path(article) %></li>
        </div>
      <% end %>
      </div>
    </ul>
  </div>
</div>
